@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;
  background: #fbfbfb;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: grid;
  justify-items: center;
  font-family: Rubik, sans-serif;
}

.figure {
  grid-row: 1;
  grid-column: 1;
  background: linear-gradient(45deg, #9b73fc, #de7bfd);
  border: 1px solid #9b73fc;
  width: 50%;
  border-radius: 0 0 235px 0;
  justify-self: flex-start;
}

.phone {
  grid-row: 1;
  grid-column: 1;
  z-index: 0;
  width: 220px;
  height: 415px;
  display: grid;
  grid-template-rows: 50px 450px;
  font-family: Rubik, sans-serif;
  margin-top: auto;
  border: 7px solid #fbfbfb;
  border-radius: 25px;
  background-color: #fbfbfb;
  box-sizing: border-box;
  transition: border 0.2s ease-in;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}
.phone .nav-bar {
  height: 85%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr 10%;
  column-gap: 1%;
  border-top: 3px solid #fbfbfb;
  background: linear-gradient(45deg, #9b73fc, #de7bfd);
  border-radius: 25px 25px 0 0;
}
.phone .nav-bar .notch {
  width: 75px;
  height: 50%;
  grid-column-start: 4;
  margin-left: 16%;
  background-color: #fbfbfb;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.phone .nav-bar .back-button {
  grid-row-start: 2;
  align-self: center;
  width: 10%;
  height: 70%;
  background: none;
  border: none;
  color: #f5f3f8;
}
.phone .nav-bar .user-pic {
  grid-row-start: 2;
  grid-column: 3;
  align-self: center;
  width: 25px;
  height: 25px;
  border: 1px solid #f5f3f8;
  border-radius: 15px;
}
.phone .nav-bar .user {
  grid-column: 5;
  align-self: flex-start;
  font-weight: 500;
  font-size: 0.7em;
  color: #f6d8ff;
  font-family: Rubik, sans-serif;
  grid-column-start: 4;
  grid-row-start: 2;
  margin-block-start: auto;
}
.phone .nav-bar .user-state {
  font-weight: 400;
  font-size: 0.6em;
  color: #ddd3e8;
  font-family: Rubik, sans-serif;
  grid-column-start: 4;
  grid-row-start: 2;
  margin-block-start: auto;
}
.phone .nav-bar .menu-button {
  grid-column: 11;
  grid-row-start: 2;
  align-self: center;
  width: 10%;
  height: 70%;
  background: none;
  border: none;
  color: #f5f3f8;
}
.phone .chat-section {
  display: grid;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  row-gap: 5px;
  border-radius: 0 0 20px 20px;
  padding: 3%;
  background-color: #f5f3f8;
}
.phone .chat-section .from-me {
  justify-self: end;
  border-radius: 15px 15px 1px 15px;
  color: #544f4f;
  background-color: #fffffd;
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 0.5em;
  margin: 0;
  padding: 5px 10px;
}
.phone .chat-section .from-them {
  border-radius: 15px 15px 15px 1px;
  color: #766b7d;
  background-color: #f0e9f7;
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 0.5em;
  margin: 0;
  padding: 5px 10px;
}
.phone .chat-section .dog-pictures {
  justify-self: end;
}
.phone .chat-section .dog-pictures .dog-pic {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}
.phone .chat-section .price-bubble {
  display: grid;
  align-items: center;
  margin: 0;
  font-weight: 500;
  border-radius: 15px 15px 15px 1px;
  color: #f5f3f8;
  background: linear-gradient(45deg, #de7bfd, #9b73fc);
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 0.5em;
  padding: 5px;
}
.phone .chat-section .price-bubble .element-position {
  grid-row: 1;
}
.phone .chat-section .input-bar {
  display: grid;
  grid-template-rows: 1;
  align-items: center;
  justify-items: center;
  height: 90%;
  font-size: 0.7em;
  border-radius: 25px;
  background-color: white;
}
.phone .chat-section .input-bar p {
  grid-row: 1;
  color: #848484;
}
.phone .chat-section .input-bar i {
  grid-row: 1;
  color: #1c1c1c;
}

.page-info {
  grid-column: 1;
  grid-row: 2;
  z-index: 0;
  display: grid;
  margin-bottom: auto;
  justify-items: center;
  color: #766b7d;
}
.page-info h1 {
  align-self: center;
  margin-bottom: 5%;
}
.page-info p {
  margin: 0 5% 5% 5%;
  text-align: center;
}

.figure-two {
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: end;
  grid-column: 1;
  background: #f5f3f8;
  width: 50%;
  height: 300px;
  border-radius: 235px 0 0 0;
  justify-self: flex-end;
}

@media screen and (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(6, 1fr);
  }

  .figure {
    width: 215%;
    height: 100%;
  }

  .phone {
    grid-column: 2;
  }

  .page-info {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row: 1;
    justify-items: left;
    align-self: center;
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
  }
  .page-info p {
    margin: 0;
    text-align: justify;
  }

  .figure-two {
    grid-column: 6;
    width: 215%;
    height: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .phone {
    grid-column: 2;
    grid-row: 2;
    align-self: flex-start;
    margin: 0;
  }

  .page-info {
    grid-row: 2;
    grid-column-end: 7;
    align-self: center;
  }

  .figure {
    border-radius: 0 0 375px 5px;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
  }

  .figure-two {
    grid-row-start: 4;
    grid-row-end: 1;
    grid-column: 6;
    width: 100%;
  }
}